# --- Java / Spring Boot ---
.gradle/
build/
target/
*.class
*.jar
*.war

# --- Node / Angular ---
node_modules/
/dist
.angular/
npm-debug.log*

# --- Python (IA) ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# --- Base de données & Environnement ---
.env
*.sql
*.sqlite

# Frontend
frontend/node_modules/
frontend/.angular/
frontend/dist/

# Backend
backend/target/
backend/.mvn/
backend/mvnw.cmd

# IA & Base de données
ia/.venv/
ia/__pycache__/
postgres_data/
ollama_data/

# Divers
.DS_Store
.idea/
.vscode/